@charset "UTF-8";
/* CSS Document */
.tp-bullet {
    display: none;
}
.side-menu {
	background-color: rgba(0,0,0,0.70);
}
.bkgd-dark {
    background: rgba(25,25,25,1.00)
}
.bkgd-black {
    background: rgba(0,0,0,1.00)
}
.text




.form-padding {
    padding-left: 30px;
}
